body{
	background: url(../img/background.gif) repeat;
}
#shlyapa{
    top: 0;
    width: 100%;
    position: fixed;
    z-index: 3;
}
a:link{
    color: #000;
}
a:visited {
    color: #000;
}
a:active {
    color: #f00;
}
.line{
    border: 3px solid #000;
    margin: 0;
}
.nav{
    float:left;
    padding-top: 8px;
    margin-left: 1em;
}
.lin{
	margin-right: 9px;
	text-decoration:none;
    text-transform: uppercase;
	font: 24px PTSansBold;
}
.right{ float: right;
    margin-top: 15px;
    margin-right: 1em;
}
.enter{
	text-decoration: none;
	font: 14px PTSansRegular;
    border-bottom: 1.5px dotted #000080;
}
.enter:hover{
	border: none;
}
.clearfix {
	clear:both;
	}
h1 {
	margin-top: 80px;
	text-align:center;
	font: 72px PTSerif;
}
.nav2 {
    margin-top: -30px;
    margin-bottom: 80px;
    padding: 0;
    text-align: center;
}
.nav2 a{
    text-decoration: none;
    font: 18px PTSansRegular;
}
.nav2 li {
    margin-left: 0;
    padding-left: 2px;
    border: none;
    display: inline;
}
.content{
    width: 800px;
    padding-top: 81px;
    margin: 0 auto;
}
.text{
    float: right;
    width: 600px;
    font: 14px PTSansRegular;
}
.photo{
    margin-right: 620px;
}
.title{
    font: 18px PTSansRegular;
}
.lorem{
    background-color: #ff6666;
    float: left;
    position: absolute;
    margin-left: -220px;
    margin-top: -10px;
    padding: 3px 8px 3px;
    font: 14px PTSansItalic;
    color: #FFF;
}
.ipsum{
    background-color: #99cc66;
    float: left;
    position: absolute;
    margin-left: -220px;
    margin-top: -10px;
    padding: 3px 8px 3px;
    font: 14px PTSansItalic;
    color: #FFF;
}
.news{
    background-color: #6699cc;
    float: left;
    position: absolute;
    margin-left: -220px;
    margin-top: -10px;
    padding: 3px 8px 3px;
    font: 14px PTSansItalic;
    color: #FFF;
}
hr{
    margin-top: 165px;
}
.copyright{
    padding-top: 1em;
    width: 800px;
	margin: 0 auto;
    font: 12px PTSansRegular;
    padding-bottom: 85px;
}
.back{
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #c0c0c0;
    opacity: 0.7;
}
.window{
    background-color: #fff;
    position: fixed;
    z-index: 2;
    top: 35%;
    left: 50%;
    width: 365px;
    height: 230px;
    box-shadow: 2px 5px 50px #333;
    margin-left: -182px;
}
.login{
    margin: 56px 0 20px 64px;
}
.password{
    margin-left: 64px;
}
.send{
    margin: 20px 15px 0 64px;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff, #d6d6d6);
    background: -webkit-gradient(linear, top, bottom,color-stop(0%, #ffffff), color-stop(100%, #d6d6d6));
    background: -webkit-linear-gradient(top, #ffffff, #d6d6d6);
    background: -o-linear-gradient(top, #ffffff, #d6d6d6);
    background: -ms-linear-gradient(top, #ffffff, #d6d6d6);
    background: linear-gradient(top, #ffffff, #d6d6d6);
    padding: 5px 15px 5px 15px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
}
.send:hover {
    background: #d6d6d6;
    background: -moz-linear-gradient(top, #d6d6d6, #ffffff);
    background: -webkit-gradient(linear, top, bottom,color-stop(0%, #d6d6d6), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #d6d6d6, #ffffff);
    background: -o-linear-gradient(top, #d6d6d6, #ffffff);
    background: -ms-linear-gradient(top, #d6d6d6, #ffffff);
    background: linear-gradient(top, #d6d6d6, #ffffff);
}
