body{
	background: url(../img/background.gif) repeat;
    margin: 0 auto;
}
#head{
    display: block;
    position: fixed;
    margin: 0 auto;
    border-top: 0.375em solid #000;
    top: 0;
    width: 100%;
    z-index: 3;
}
.nav{
    float:left;
    padding-top: 1.25%;
    margin-left: 0.9166667%;
}
.logo{
    margin: 0;
}
#lin{
	margin-right: 0.25%;
	text-decoration:none;
    text-transform: uppercase;
	font: 1.2em PTSansBold;
    white-space: pre;
}
.linkcolor{
    color: #000;
}
.right{ float: right;
    margin-top: 1.25%;
    margin-right: 1.333333%;
}
#enter{
	text-decoration: none;
	font: 0.875em PTSansRegular;
    border-bottom: 0.09375em dotted #000080;
}
#enter:hover{
	border: none;
}
#exit{
    text-decoration: none;
    font: 0.875em PTSansRegular;
    border-bottom: 0.09375em dotted #000080;
}
#exit:hover{
    border: none;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.blur{
    position: inherit;
    display: block;
    margin: 0 auto;
    width: 66.6666667%;
}
h1 {
	margin-top: 6.6666667%;
	text-align:center;
	font: 4.5em PTSerifBold;
}
.nav2 {
    margin-top: -2.5%;
    margin-bottom: 6.6666667%;
    padding: 0;
    text-align: center;
}
.nav2 a{
    text-decoration: none;
    font: 1.125em PTSansRegular;
}
.nav2 li {
    margin-left: 0;
    padding-left: 0.1666667%;
    border: none;
    display: inline;
}
.content{
    display: inline-block;
    padding-top: 6.75%;
    margin: 0 auto;
}
.content .photo img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.text{
    padding-bottom: 6.25%;
    float: right;
    font: 0.875em PTSansRegular;
}
img{
    display: block;
    max-width: 100%;
}
.photo{
    float: left;
    padding-right: 2.75%;
    padding-bottom: 2.75%;
}
.help{
    float: left;
    position: relative;
    margin-left: -21.6%;
    margin-top: -59%;
    padding: 2% 5% 2%;
    font: 0.875em PTSansItalic;
    color: #FFF;
}
#lorem{
    background-color: #ff6666;
}
#ipsum{
    background-color: #99cc66;
}
#news{
    background-color: #6699cc;
}
.title{
    font: 1.125em PTSansRegular;
    color: #000;
}
.copyright{
    padding-top: 1em;
    font: 0.75em PTSansRegular;
    padding-bottom: 10.625%;
    border-top: 0.125em ridge #c0c0c0;
}
.back{
    z-index: 1;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: #c0c0c0;
    opacity: 0.5;
}
.window{
    background-color: #fff;
    position: fixed;
    z-index: 2;
    top: 35%;
    left: 37.5%;
    width: 25.416666%;
    height: 30.35%;
    box-shadow: 2px 5px 50px #333;
}
.login{
    margin: 14.85% 0 5.305039% 16.976127%;
}
.password{
    margin-left: 16.976127%;
}
.lenght{
    width: 65%;
}
.send{
    margin: 5.305039% 3.978779% 0 16.976127%;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff, #d6d6d6);
    background: -webkit-gradient(linear, top, bottom,color-stop(0%, #ffffff), color-stop(100%, #d6d6d6));
    background: -webkit-linear-gradient(top, #ffffff, #d6d6d6);
    background: -o-linear-gradient(top, #ffffff, #d6d6d6);
    background: -ms-linear-gradient(top, #ffffff, #d6d6d6);
    background: linear-gradient(top, #ffffff, #d6d6d6);
    padding: 1.326259% 3.978779%;
    -moz-border-radius: 0.3125em;
    -webkit-border-radius: 0.3125em;
    border-radius: 0.3125em;
}
.send:hover {
    background: #d6d6d6;
    background: -moz-linear-gradient(top, #d6d6d6, #ffffff);
    background: -webkit-gradient(linear, top, bottom,color-stop(0%, #d6d6d6), color-stop(100%, #ffffff));
    background: -webkit-linear-gradient(top, #d6d6d6, #ffffff);
    background: -o-linear-gradient(top, #d6d6d6, #ffffff);
    background: -ms-linear-gradient(top, #d6d6d6, #ffffff);
    background: linear-gradient(top, #d6d6d6, #ffffff);
}
#openning{
    visibility: hidden;
}
.userPanel{
    text-align: left;
    font: 0.875em PTSansRegular;
    height: 1.66666667%;
    width: 9.58333333%;
    -moz-border-radius: 0.9375em;
    -webkit-border-radius: 0.9375em;
    border-radius: 0.9375em;
    padding: 0.16666667% 0 0.16666667% 1.25%;
    -moz-box-shadow: 0.125em 0.25em 0.625em #b3b3b3;
    -webkit-box-shadow: 0.125em 0.25em 0.625em #b3b3b3;
    box-shadow: 0.125em 0.25em 0.625em #b3b3b3;
    background: #ffffff;
    background: -moz-linear-gradient(top, #ffffff, #d6d6d6);
    background: -webkit-gradient(linear, top, bottom,color-stop(0%, #ffffff), color-stop(100%, #d6d6d6));
    background: -webkit-linear-gradient(top, #ffffff, #d6d6d6);
    background: -o-linear-gradient(top, #ffffff, #d6d6d6);
    background: -ms-linear-gradient(top, #ffffff, #d6d6d6);
    background: linear-gradient(top, #ffffff, #d6d6d6);
    float: right;
    margin-top: 1.25%;
    margin-right: 1.3333%;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    transition: all 0.2s ease;
}
.triangle{
    padding-bottom: 2%;
    width: 0;
    height: 0;
    border-left: 0.25em solid transparent;
    border-right: 0.25em solid transparent;
    border-top: 0.25em solid #666666;
}
.userPanel:hover{
    height: 9.16666667%;
}
.userPanel:hover .triangle{
    visibility: hidden;
}
.userPanel ul{
    display: none;
}
.userPanel:hover ul {
    margin: 0;
    padding-left: 4%;
    display: block;
    list-style-type: none;
}
.userPanel:hover li {
    padding-top: 7%;
}
.userPanel p{
    margin: 0 1px 0 0;
    display: inline-block;
    text-shadow: 0.0625em 0.0625em #fff;
    color: #666666;
}
.userPanel a{
    color: #666666;
    text-align: left;
    font: 0.875em PTSansRegular;
 }
.userPanel a:hover{
    text-decoration: none;
    border-bottom: 0.0625em dotted #000;
}
.userPanel li p{
    visibility: hidden;
    width: 0;
    height: 0;
    border-left: 0.25em solid #666666;
    border-bottom: 0.25em solid transparent;
    border-top: 0.25em solid transparent;
}
.userPanel li:hover p{
    visibility: visible;
}
.contentArticle{
    width: 66.666667%;
    margin: 0 auto;
    margin-top: 2%;
    border-bottom: 0.125em solid #c0c0c0;
}
.information{
    width: 75%;
    float: right;
}
h2 {
    margin-top: 20%;
    margin-bottom: 6.5%;
    text-decoration: none;
    display: block;
    text-align:left;
    font: 1.5em PTSerifBold;
}
.adv{
    margin-top: 31.25%;
    margin-bottom: 20.625%;
    float: left;
    width: 21.625%;
}
.adv p{
    font: 0.625em Verdana;
    color: #666;
    line-height: 1.7em;
}
.adv img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.description{
    margin: 1em 0;
    font: 0.875em PTSansRegular;
}
#other{
    border-bottom: none;
}
.link{
     font: 0.875em PTSansRegular;
     color: #003366;
     margin-right: 1.666667%;
 }
.navigation{
    position: relative;
    top: 0;
    z-index: 4;
}
.navigation a:active{
    text-decoration: none;
    color: #000;
    font-weight: bolder;
}
.activelink{
    margin-right: 1.666667%;
    text-decoration: none;
    font: 0.875em PTSansBold;
    color: #000;
    font-weight: bolder;
}
.contentSection{
    width: 66.6666667%;
    margin: 0 auto;
}
.rubric{
    width: 21.625%;
    float: left;
    text-align: left;
    font:0.875em PTSansBold;
    font-weight: bold;
}
.information li{
    display: inline-block;
    vertical-align: top;
    width: 31.2%;
    margin-right: 1em;
}
.information li:last-child{
    margin-right: 0;
}
.information ul{
    padding: 0;
}
.information li p{
    font:0.75em PTSansRegular;
    margin-top: 0;
}
.information img:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -o-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.linktwo{
    font:0.875em PTSansRegular;
    color: #003366;
}
.etc{
    width: 66.666667%;
    margin: 0 auto;
}