/* media queries
----------------------------------------------------------------------------*/
@media only screen and (max-width: 1024px), only screen and (max-device-width: 1024px){
    .window{ top: 25%;left: 30%;width:40%;height:60.35%;}
}
@media only screen and (max-width: 900px), only screen and (max-device-width: 900px){
    .userPanel{ width: 14%}
}
@media only screen and (max-width: 768px), only screen and (max-device-width: 768px){
    .adv{display: none}
    .contentArticle{ width: 87.5%;margin-top: 10%}
    .navigation{text-align: center; font: 0.6em; z-index: 1}
    .information{width: 100%;float: none;}
    h2{margin-top: 15%; margin-bottom: 5.5%;text-align: center}
    .contentSection{width: 87.5%}
    .rubric{width: 35%;float: none; margin: 0 auto}
    .information li { width: 31%; text-align: center}
    .etc{width: 87.5%;margin: 0 auto;}
    .window{ top: 25%;left: 20%;width:60%;height:35.35%;}
}
@media only screen and (max-width: 640px), only screen and (max-device-width: 640px){
    /*First Page Adaptive*/
    #head{border-top: 0.175em solid #000}
    .nav{padding-top: 2.1875%;margin-left:6.25%}
    .blur{width: 90.5%}
    .help{left: 96%}
    .content header{margin-top: 6%; margin-bottom: 4%}
    .right{padding-top: 0.9%;margin-right:6.25%}
    .nav2 {margin-top: -8.5%;margin-bottom:10.6666667%}
    .window{ top: 25%;left: 21.875%;width:56.25%;height:30.35%;}
    /*Second Page Adaptive*/
    .userPanel{height: 1.66666667%; width: 25%; margin-top: 2%}
    .adv{display: none}
    .contentArticle{ width: 87.5%;margin-top: 10%}
    .information{width: 100%;float: none;}
    .information li { width: 29%; text-align: left}
    h2{margin-top: 15%; margin-bottom: 5.5%; text-align: left}
    .contentSection{width: 87.5%}
    .rubric{width: 35%;float: none; margin-left: 0}
    .etc{width: 87.5%;margin: 0 auto;}
    }
@media only screen and (max-width: 320px), only screen and (max-device-width: 320px){
    /*First Page Adaptive*/
    .content header{margin-top: 40%; margin-bottom: 3%; text-align: center}
    .photo{margin-left: 17%}
    .text{text-align: center}
    .copyright{text-align: center}
    .help{left: 21.5%}
    .window{ top: 25%;left: 10%;width:80%;height:30.35%;}
    /*Second Page Adaptive*/
    .userPanel{height: 1.66666667%; width: 26.1875%;margin-top: 2.5%}
    .contentArticle{margin-top: 15%}
    h2{text-align: center}
    .description{text-align: center}
    .rubric{width: 100%;float: none;text-align: center}
    .navigation{text-align: center; font: 0.6em; z-index: 1}
    .information li {display: block; width: 100%; text-align: center}
    .information img {margin: 0 auto}
}