block vars
	- var description = "Stress_TN Home Page";
	- var keywords = "Stress_TN, Chiptune, LSDJ, Commodore 64, Mssiah";
	- var pagename = "Stress_TN";
	- var pagetitle = "Stress_TN Home Page";
doctype html
html(lang="ru", class="no-js")
	head
		meta(charset="UTF-8")
		title #{pagetitle} - Stress_TN
		meta(name="description", content="#{description}")
		meta(name="keywords", content="#{keywords}")
		meta(name="viewport", content="width=1024")
		if development
			link(rel="stylesheet", href="css/style.css")
		else
			link(rel="stylesheet", href="css/style.min.css")
		link(rel="shortcut icon", type="image/gif", href="favicon.gif")
		script(src='js/vendor/jquery.1.9.1.min.js')
		script(src="js/vendor/modernizr-latest.js")
		script(async, src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js")
		<script>(adsbygoogle = window.adsbygoogle || []).push({google_ad_client: "ca-pub-7190791403431029",enable_page_level_ads: true});</script>
		link(href='http://fonts.googleapis.com/css?family=Bangers', rel='stylesheet', type='text/css')
	body.home(itemscope itemtype="http://schema.org/Organization")
		.content-wrap
			.content
				.home__red-lamp
				.home__screen
					table.home__table
						thead.home__table-row
							th.home__table-item.active.js-link(data-id="1")
								span Bio
							th.home__table-item.js-link(data-id="2")
								span Contact
					ul.home__navigation-destination
						li.home__navigation-destination_item.active.js-destination(data-id="1")
							h2.home__title-block
								| Stress_TN
							p.home__information
								| Real name - Stanislav, chip-musician from Russian Federation, lives in small town Taganrog.<br>In 2006 Stanislav and his best friend create project <a href="https://myspace.com/8bitbrothers/music/songs">“8bit brothers”</a> which play only Fackebit. 8bb have many free and payable albums on Itunes, Beatport etc. Hard styles and happy tunes makes “Brothers” very popular in Russia.<br><br>In 2008 Stanislav start his own project, named “Stress_TN”. Huge arsenal of music gadgets and consoles provided new opportunities for the musician. For South of Russia it was a new wave of experimental music. Game Boys, NES and Commodore turned into a weapon of mass destruction on the dance floor into his hand. He has many albums, EP's, covers and etc<br><br>Since 2000 year Stress_TN became a sound produser and composer in <a href="http://kintogames.com/" target="_blank">Kintogames</a>. All games with Stress_TN music you can find on <a href="http://kintogames.com/" target="_blank">Kintogames.com</a>.<br><br>Now Stress_TN is the administrator of the group “LSDJ in RUSSIA”. This group help’s young chipmusician.<br>
							img.home__information-img(src="img/stress_tn.png", alt="Stress_tn")
						li.home__navigation-destination_item.js-destination(data-id="2")
							h2.home__title-block
								| Follow me
							ul.home__contact-list
								li.home__contact-item
									a(href="https://www.facebook.com/pages/Stress_TN/157308217623428" target="_blank") Facebook
								li.home__contact-item
									a(href="https://soundcloud.com/stress_tn" target="_blank") Soundcloud
								li.home__contact-item
									a(href="https://twitter.com/Stress_TN" target="_blank") Twitter
								li.home__contact-item
									a(href="http://www.youtube.com/user/stresstn" target="_blank") Youtube
								li.home__contact-item
									a(href="http://instagram.com/stress_tn" target="_blank") Instagram
								li.home__contact-item
									a(href="http://kintogames.com/" target="_blank") kintogames
								li.home__contact-item
									a(href="#").js-link(data-id="3") email
						li.home__navigation-destination_item.home__navigation-destination_item-light.js-destination(data-id="3")
							h2.home__title-block.js-changeTitle
								| Contact me
							form(action="#", method="POST")#formTosend.js-mailForm.home__form
								input(type="email", name="_replyto", placeholder="Your email" required).home__inputEmail
								input(type="text", name="name", placeholder="Your name" required).home__inputEmail
								textarea(name="message" rows="3" required).home__textarea
								input(type="submit", value="Send").home__submit
					table.home__down-table
						thead.home__table-row
							th.home__tablet-item
								a(href="http://music.stress-tn.party") Music
							th.home__tablet-item
								a(href="piano.html") Load Rom
		script
			|(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-56350170-1', 'auto');ga('send', 'pageview');
		script
				|(function (d, w, c) {(w[c] = w[c] || []).push(function() {try {w.yaCounter26916876 = new Ya.Metrika({id:26916876,webvisor:true,clickmap:true,trackLinks:true,accurateTrackBounce:true});} catch(e) { }});var n = d.getElementsByTagName("script")[0],s = d.createElement("script"),f = function () { n.parentNode.insertBefore(s, n); };s.type = "text/javascript";s.async = true;s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";if (w.opera == "[object Opera]") {d.addEventListener("DOMContentLoaded", f, false);} else { f(); }})(document, window, "yandex_metrika_callbacks");
			noscript
				div
					img(src="//mc.yandex.ru/watch/26916876" style="position:absolute; left:-9999px;" alt="")
		script(src="js/plugins.js")
		script(src="js/main.js")