extends ../layout
block vars
	- var description = "Piano for your fun";
	- var keywords = "Piano";
	- var pagename = "piano";
	- var pagetitle = "Stress_TN c64 Piano";
block content
	.share-container
		.a2a_kit.a2a_kit_size_32.a2a_default_style
			a.a2a_button_facebook
			a.a2a_button_twitter
			a.a2a_button_google_plus
			a.a2a_button_vk
		script(type="text/javascript" src="//static.addtoany.com/menu/page.js")
		.wrapper
			script
				|(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),	m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)	})(window,document,'script','//www.google-analytics.com/analytics.js','ga');ga('create', 'UA-56350170-1', 'auto');ga('send', 'pageview');
		.monitor#monitor
			img(src="img/monitor.png", alt="monitor")
			.monitor-glich
			.monitor-screen
		script(type="text/javascript")
			| var a2a_config = a2a_config || {}; a2a_config.color_main = "undefined"; a2a_config.color_border = "undefined"; a2a_config.color_link_text = "undefined"; a2a_config.color_link_text_hover = "undefined"; a2a_config.color_bg = "undefined"; a2a_config.color_arrow = "undefined"; a2a_config.color_arrow_hover = "undefined";
		form(action="https://www.paypal.com/cgi-bin/webscr" method="post").glith__form
			h3.glith__title Buy me a beer:
			input(type="text", size="5", name="amount", value="1.00").glith__input
			select(name="currency_code").glith__select
				option(value="USD")
					| $
				option(value="EUR")
					| €
			input(type="submit" value="Paypal").glith__submit
			input(type="hidden" name="cmd" value="_xclick")
			input(type="hidden" name="business" value="stress_tn@yahoo.com")
			input(type="hidden" name="item_name" value="Stress_TN C64 Piano")
			input(type="hidden" name="item_number" value="StressC64-DONATE")
			input(type="hidden" name="no_shipping" value="1")
			input(type="hidden" name="no_note" value="1")
			input(type="hidden" name="tax" value="0")
			input(type="hidden" name="bn" value="PP-DonationsBF")
			input(type="hidden" name="lc" value="RU")
			script
				|(function (d, w, c) {(w[c] = w[c] || []).push(function() {try {w.yaCounter26916876 = new Ya.Metrika({id:26916876,webvisor:true,clickmap:true,trackLinks:true,accurateTrackBounce:true});} catch(e) { }});var n = d.getElementsByTagName("script")[0],s = d.createElement("script"),f = function () { n.parentNode.insertBefore(s, n); };s.type = "text/javascript";s.async = true;s.src = (d.location.protocol == "https:" ? "https:" : "http:") + "//mc.yandex.ru/metrika/watch.js";if (w.opera == "[object Opera]") {d.addEventListener("DOMContentLoaded", f, false);} else { f(); }})(document, window, "yandex_metrika_callbacks");
			noscript
				div
					img(src="//mc.yandex.ru/watch/26916876" style="position:absolute; left:-9999px;" alt="")