*{
	.box-sizing (border-box); 
}
.home{
	font-family: @Bangers;
	font-size: 16px;
	background: #c2bebb;
	color: #989ba2;
	padding-bottom: 0;
	height: auto;
	.content{
		background: #595866;
		margin: 0 auto;
		position: relative;
		width: 70%;
		margin: 20px auto 0;
		padding-bottom: 48.2%;
		height: 0;
		overflow: hidden;
		border: 2px solid #302222;
		.border-radius(4% 4% 17% 4%);
		.box-sizing(border-box);
		@media @tabletLandscape{
			width: 95%;
			padding-bottom: 68.2%;
		}
	}
	&__red-lamp{
		position: absolute;
		left: 7%;
		top: 49%;
		padding: 1%;
		.border-radius(50%);
		background: #f73347; /* Old browsers */
		/* IE9 SVG, needs conditional override of 'filter' to 'none' */
		background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3MzM0NyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iI2ZmNDU0MSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjYzJSIgc3RvcC1jb2xvcj0iI2ZmZTNhOSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9Ijg2JSIgc3RvcC1jb2xvcj0iI2Y4ZmZlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZGE1NGMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
		background: -moz-linear-gradient(top,  #f73347 0%, #ff4541 30%, #ffe3a9 63%, #f8ffe4 86%, #fda54c 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f73347), color-stop(30%,#ff4541), color-stop(63%,#ffe3a9), color-stop(86%,#f8ffe4), color-stop(100%,#fda54c)); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  #f73347 0%,#ff4541 30%,#ffe3a9 63%,#f8ffe4 86%,#fda54c 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  #f73347 0%,#ff4541 30%,#ffe3a9 63%,#f8ffe4 86%,#fda54c 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  #f73347 0%,#ff4541 30%,#ffe3a9 63%,#f8ffe4 86%,#fda54c 100%); /* IE10+ */
		background: linear-gradient(to bottom,  #f73347 0%,#ff4541 30%,#ffe3a9 63%,#f8ffe4 86%,#fda54c 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f73347', endColorstr='#fda54c',GradientType=0 ); /* IE6-8 */
		border: 2px solid #e3325c;
	}
	&__screen{
		position: absolute;
		left: 50%;
		margin-left: -30%;
		width: 60%;
		margin-top: 8.5%;
		height: 65%;
		border: 2px solid #0e1b07;
		background: #13463d;
		.border-radius(1%);
		overflow: hidden;
		color: #4d631a;
		@media @tabletLandscape{
			margin-left: -33%;
			width: 66%;
			height: 69%;
		}
	}
	&__navigation_list{
		list-style-type: none;
		padding-left: 80px;
		margin: 0;
		li:before{
			content: '●';
			color: red;
			font-size: 20px;
		}
	}
	&__navigation{
		margin-top: 8.5%;
		position: absolute;
		width: 20%;
		left: 0;
		height: 87.5%;
	}
	&__navigation-destination{
		position: absolute;
		padding-top: 50px;
		padding-bottom: 50px;
		padding-left: 0;
		top:0;
		left:0;
		width: 100%;
		height: 100%;
		margin: 0;
		list-style-type: none;
		z-index: 0;
	}
	&__navigation-destination_item{
		margin: 0;
		padding: 0;
		display: none;
		opacity: 0;
		width: 100%;
		height: 100%;
		&-light{
			background: #4d631a;
			.border-radius(16%);
			.home__title-block{
				color: #13463d;
			}
		}
		.mCustomScrollBox{
			padding: 0 5%;
		}
		.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{
			background: #4d631a;
			.border-radius(0);
		}
		&.active{
			display: block;
			opacity: 1;
		}
	}
	&__title-block{
		text-align: center;
		font-size: 60px;
		margin: 30px 0;
	}
	&__information{
		text-align: justify;
		font-size: 20px;
		line-height: 30px;
		margin: 0;
		padding: 0 4px;
		&>a{
			color: #526141;
			opacity: 1;
			.transition(opacity 0.4s);
			&:hover{
				opacity: 0.8;
			}
			&:active{
				opacity: 0.5;
			}
		}
	}
	&__contact-list{
		padding: 0;
		margin: 0;
		list-style-type: none;
	}
	&__contact-item{
		text-align: center;
		&>a{
			font-size: 40px;
			color: #4d631a;
		}
	}
	&__information-img{
		display: block;
		position: relative;
		max-width: 100%;
		margin: 0 auto;
	}
	&__table{
		width: 100%;
		position: absolute;
		top:0;
		left: 0;
		z-index: 2;
	}
	&__table-row{
		position: relative;
	}
	&__table-item{
		width: 50%;
		display: table-cell;
		color: #4d631a;
		background: #13463d;
		padding: 10px 0;
		cursor: pointer;
		font-size: 30px;
		.round-corner (bottom-left, 50%);
		&+&{
			.round-corner (bottom-left, 0);
			.round-corner (bottom-right, 50%);
		}
		.transition(all .4s);
		&:hover{
			background: #3b4c13;
		}
		&:active,
		&.active{
			color: #13463d;
			background: #4d631a; 
		}
	}
	&__down-table{
		position: absolute;
		width: 100%;
		bottom: 0;
		left: 0;
		z-index: 2;
		
	}
	&__tablet-item{
		cursor: default;
		width: 50%;
		display: table-cell;
		background: #4d631a;
		padding: 10px 0;
		font-size: 30px;
		.round-corner (top-left, 50%);
		&+&{
			.round-corner (top-left, 0);
			.round-corner (top-right, 50%);
		}
		a{
			opacity: 1;
			color: #13463d;
			.transition(opacity 0.4s);
			padding: 0 4px;
			&:hover{
				opacity: 0.8;
			}
			&:active{
				opacity: 0.5;
			}
		}
	}
	&__form{
		position: relative;
		margin: 0;
		padding: 0;
		width: 100%;
	}
	&__inputEmail{
		width: 100%;
		border: 4px solid #13463d;
		padding: 6px 20px;
		background: #4d631a;
		margin-bottom: 10px;
		outline: none;
		color: #13463d;
	}
	&__textarea{
		outline: none;
		width: 100%;
		padding: 6px 20px;
		border: 4px solid #13463d;
		background: #4d631a;
		resize: none;
		color: #13463d;
	}
	&__submit{
		outline: none;
		display: block;
		margin: 0 auto;
		padding: 8px 30px;
		box-shadow: none;
		border: none;
		font-size: 20px;
		margin-top: 10px;
		background: #13463d;
		color: #4d631a;
	}
}
::-webkit-input-placeholder {color:#13463d;}
::-moz-placeholder          {color:#13463d;}/* Firefox 19+ */
:-moz-placeholder           {color:#13463d;}/* Firefox 18- */
:-ms-input-placeholder      {color:#13463d;}