footer.sticky-footer
	.white-note
		.black-note
	.white-note
		.black-note
	.white-note
	.white-note
		.black-note
	.white-note
		.black-note
	.white-note
		.black-note
	.white-note
	.white-note
		.black-note
	.white-note
		.black-note
	.white-note
	.white-note
		.black-note
	.white-note
		.black-note
	.white-note
		.black-note
	.white-note