footer.sticky-footer
	.white-note
		a.note.1c 1c
	.black-note
		a.note.1cc 1c$
	.white-note
		a.note.1cc 1d
	.black-note
		a.note.1cc 1d$
	.white-note
		a.note.1cc 1e
	.white-note
		a.note.1cc 1e
	.black-note
		a.note.1cc 1f
	.white-note
		a.note.1cc 1f$
	.black-note
		a.note.1cc 1g
	.white-note
		a.note.1cc 1g$
	.black-note
		a.note.1cc 1a
	.white-note
		a.note.1cc 1a$
	.white-note
		a.note.1cc 1b
	.white-note
		a.note.1c 2c
	.black-note
		a.note.1cc 2c$
	.white-note
		a.note.1cc 2d
	.black-note
		a.note.1cc 2d$
	.white-note
		a.note.1cc 2e
	.white-note
		a.note.1cc 2e
	.black-note
		a.note.1cc 2f
	.white-note
		a.note.1cc 2f$
	.black-note
		a.note.1cc 2g
	.white-note
		a.note.1cc 2g$
	.black-note
		a.note.1cc 2a
	.white-note
		a.note.1cc 2a$
	.white-note
		a.note.1cc 2b