.unvisible-content
	audio( preload="auto")
		source(src="sounds/3c.ogg", type="audio/ogg")
		source(src="sounds/3c.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/3c$.ogg", type="audio/ogg")
		source(src="sounds/3c$.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/3d.ogg", type="audio/ogg")
		source(src="sounds/3d.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/3d$.ogg", type="audio/ogg")
		source(src="sounds/3d$.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/3e.ogg", type="audio/ogg")
		source(src="sounds/3e.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/3f.ogg", type="audio/ogg")
		source(src="sounds/3f.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/3f$.ogg", type="audio/ogg")
		source(src="sounds/3f$.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/3g.ogg", type="audio/ogg")
		source(src="sounds/3g.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/3g$.ogg", type="audio/ogg")
		source(src="sounds/3g$.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/3a.ogg", type="audio/ogg")
		source(src="sounds/3a.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/3a$.ogg", type="audio/ogg")
		source(src="sounds/3a$.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/3b.ogg", type="audio/ogg")
		source(src="sounds/3b.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/4c.ogg", type="audio/ogg")
		source(src="sounds/4c.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/4c$.ogg", type="audio/ogg")
		source(src="sounds/4c$.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/4d.ogg", type="audio/ogg")
		source(src="sounds/4d.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/4d$.ogg", type="audio/ogg")
		source(src="sounds/4d$.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/4e.ogg", type="audio/ogg")
		source(src="sounds/4e.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/4f.ogg", type="audio/ogg")
		source(src="sounds/4f.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/4f$.ogg", type="audio/ogg")
		source(src="sounds/4f$.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/4g.ogg", type="audio/ogg")
		source(src="sounds/4g.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/4g$.ogg", type="audio/ogg")
		source(src="sounds/4g$.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/4a.ogg", type="audio/ogg")
		source(src="sounds/4a.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/4a$.ogg", type="audio/ogg")
		source(src="sounds/4a$.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/4b.ogg", type="audio/ogg")
		source(src="sounds/4b.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/5c.ogg", type="audio/ogg")
		source(src="sounds/5c.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/5c$.ogg", type="audio/ogg")
		source(src="sounds/5c$.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/5d.ogg", type="audio/ogg")
		source(src="sounds/5d.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/5d$.ogg", type="audio/ogg")
		source(src="sounds/5d$.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/5e.ogg", type="audio/ogg")
		source(src="sounds/5e.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/5f.ogg", type="audio/ogg")
		source(src="sounds/5f.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/5f$.ogg", type="audio/ogg")
		source(src="sounds/5f$.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/5g.ogg", type="audio/ogg")
		source(src="sounds/5g.mp3", type="audio/mpeg")
	audio( preload="auto")
		source(src="sounds/5g$.ogg", type="audio/ogg")
		source(src="sounds/5g$.mp3", type="audio/mpeg")