@import "../mixins";

.emulator {

	&__info {

	}
	&__game {

	}
	&__order {

	}
}
.gameboy-emulator {
	position: relative;
    display: initial;
    border: 2px dashed;
    border-radius: 10px;
    overflow: hidden;
}
.cart {
	&__list {
		margin: 0;
		padding: 0 30px 0 0;
		overflow: hidden;
		flex: 0 0 230px;
		border-right: 2px dashed $info-color;
		list-style-type: none;
	}
	&__item {
		position: relative;
	}
	&__data {
		padding-left: 30px;
		width: 100%;
	}
	&__image {
		display: block;
		cursor: pointer;
		margin-bottom: 10px;
		max-width: 100%;
		position: relative;
		width: 100%;
  		filter: grayscale(1) drop-shadow(2px 2px 3px #000);
  		transition: all 200ms;
		&.active, &:hover{
			filter: grayscale(0)  drop-shadow(2px 2px 3px #000);
		}
	}
}
@media screen and (max-width: 641px) {
	.emulator {
		padding: 10px 0;
	}
	.gameboy-emulator {
		border: none;
	}
	.cart {
		flex-direction: column;
		&__list {
			padding: 0;
			display: flex;
			flex-direction: row;
			width: 100%;
			position: relative;
			overflow: visible;
			flex-shrink: 0;
			border-right: none;
			border-bottom: 2px dashed $info-color;
			flex: 0 0 100%;
		}
		&__item {
			position: relative;
		}
		&__data {
			margin-top: 10px;
			padding-left: 0;
		}
	}
}