html, 
body {
    height: 100%;
	background: #000;
}
.gameboy {
	background: #000;
	height: 100%;
}

.screen {
	width: 160px;
	height: 144px;
	background: #d7e894;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%, -50%) scale(4);
}

.color1 {
	color: #d7e894;
}
.color2 {
	color: #527f39;
}
.color3 {
	color: #aec440;
}
.color4 {
	color: #204631;
}

.wrapper {
	width: 160px;
	height: 144px;
	position: relative;
	overflow: hidden;
}

.logo {
	width: auto;
	position: absolute;
	top: -50%;
	left: -50%;
	transform: translate(-50%, -50%);
	z-index: 3;
	transition: all 4s;
}

.logo img{
	max-width: 100%;
}

.earth {
	position: absolute;
	top: 0;
	left: -216px;
	width: 320px;
	height: 288px;
	background: url('./img/earth.png');
	background-size: cover;
	z-index: 2;
}

.space {
	position: absolute;
	top: 0;
	left: 0px;
	width: 320px;
	height: 288px;
	background: url('./img/space.gif');
	background-size: cover;
	background-repeat: all;
	z-index: 1;
	animation: animatedSpace 20s linear infinite;
    -moz-animation: animatedSpace 20s linear infinite;
    -webkit-animation: animatedSpace 20s linear infinite;
    -ms-animation: animatedSpace 20s linear infinite;
    -o-animation: animatedSpace 20s linear infinite;
}

.stars {
	position: absolute;
	top: 0;
	left: 160px;
}

.planet1 {
	position: absolute;
	top: 0;
	left: 160px;
}

.planet2 {
	position: absolute;
	top: 0;
	left: 160px;
}

.mainStar {
	position: absolute;
	top: 0;
	left: 160px;
}

.album {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.artist {
	position: absolute;
	top: 0;
	left: 0;
	opacity: 0;
}

.playlist {
	position: absolute;
	top: 200%;
	left: 30%;
	font-size: 6px;
	z-index: 5;
	color: #d7e894;
	font-weight: bold;
	transition: top 0.5s;
	transform: translate(-50%, -50%);
}

.playlist ul{
	padding: 0;
	margin: 0;
	list-style-type: none;
}

.ship {
	position: absolute;
	top: 144px;
	left: 0;
	z-index: 4;
	animation: animatedShip 4s linear infinite;
    -moz-animation: animatedShip 4s linear infinite;
    -webkit-animation: animatedShip 4s linear infinite;
    -ms-animation: animatedShip 4s linear infinite;
    -o-animation: animatedShip 4s linear infinite;
}

.fire {
	position: absolute;
	top: 32px;
	left: 0;
}
.astro {
	position: absolute;
	top: 0;
	left: 8px;
}

.equilizer {
	position: absolute;
	bottom: 0;
	left: 0;
}

.step-6 .logo {
	top: -14%;
	left: 50%;

}
.step-0 .logo {
	top: 50%;
	left: 50%;
}
.step-1 .logo { 
	top: 50%;
	left: -100%;
}

.step-6 .earth {
	top: -288px;
	left: -320px;
}

.step-0 .earth {
	top: 0;
	left: 0;
}
.step-1 .earth {
	position: absolute;
	top: 0;
	left: -216px;
	transition: left 4s;
}

.step-2 .ship {
	top: 24%;
    left: 21%;
	transition: all 4s;
}

.step-3 .ship {
	top: 20%;
    left: 150%;
	transition: all 2s;
}

.step-6 .playlist{
	position: absolute;
	top: 100%;
}

.step-3 .playlist, .step-4 .playlist, .step-5 .playlist, .step-6 .playlist {
	top: 50%;
}



@keyframes animatedSpace {
    0% { background-position: 0 0; }
    100% { background-position: -640px 1152px; }
}
@-moz-keyframes animatedSpace {
    0% { background-position: 0 0; }
    100% { background-position: -640px 1152px; }
}
@-webkit-keyframes animatedSpace {
    0% { background-position: 0 0; }
    100% { background-position: -640px 1152px; }
}
@-ms-keyframes animatedSpace {
    0% { background-position: 0 0; }
    100% { background-position: -640px 1152px; }
}
@-o-keyframes animatedSpace {
    0% { background-position: 0 0; }
    100% { background-position: -640px 1152px; }
}

@keyframes animatedShip {
    0% { margin: 0 0; }
    25% { margin: -4px 0 0px 4px; }
    50% { margin: 4px 0 0px 6px; }
    75% { margin: -4px 0 0px -6px; }
    100% { margin: 0 0; }
}
@-moz-keyframes animatedShip {
	0% { margin: 0 0; }
    25% { margin: -4px 0 0px 4px; }
    50% { margin: 4px 0 0px 6px; }
    75% { margin: -4px 0 0px -6px; }
    100% { margin: 0 0; }
}
@-webkit-keyframes animatedShip {
   	0% { margin: 0 0; }
    25% { margin: -4px 0 0px 4px; }
    50% { margin: 4px 0 0px 6px; }
    75% { margin: -4px 0 0px -6px; }
    100% { margin: 0 0; }
}
@-ms-keyframes animatedShip {
    0% { margin: 0 0; }
    25% { margin: -4px 0 0px 4px; }
    50% { margin: 4px 0 0px 6px; }
    75% { margin: -4px 0 0px -6px; }
    100% { margin: 0 0; }
}
@-o-keyframes animatedShip {
    0% { margin: 0 0; }
    25% { margin: -4px 0 0px 4px; }
    50% { margin: 4px 0 0px 6px; }
    75% { margin: -4px 0 0px -6px; }
    100% { margin: 0 0; }
}