extends ../layout
block vars
	- var description = "Piano for your fun";
	- var keywords = "Piano";
	- var pagename = "piano";
	- var pagetitle = "Stress_TN Piano";
block content
	.wrapper
		.monitor#monitor
			img(src="img/monitor.png", alt="monitor")
			.monitor-glich
			.monitor-screen