@import url('https://fonts.googleapis.com/css?family=Permanent+Marker|Roboto+Condensed');
@import "./mixins";

body {
	margin: 0;
	padding: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Roboto Condensed', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	position: relative;
	background: $link-color;
	color: $info-color;
	font-size: $small-font;
	@extend .custom-scroll;
}
.custom-scroll{
	&::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px $link-color;
		background-color: $main-color;
	}

	&::-webkit-scrollbar {
		width: 6px;
		background-color: $main-color;
	}

	&::-webkit-scrollbar-thumb {
		background-color: $link-color;
	}
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
	monospace;
}

* {
	box-sizing: border-box;
}

a {
	&:link,
	&:hover,
	&:visited,
	&:hover,
	&:active {
		color: $link-color;
	}
	color: $link-color;
}
a:hover{
	text-decoration: none;
}

#root {
	position: relative;
	z-index: 2;
	background-color: $back-color;
}

.wrapper{
	position: relative;
	&:after{
		position: relative;
		content: '';
		width: 100vw;
		height: 100%;
		top: 0;
		left: 0;
		position: fixed;
		background-image: url('./image/tv.png');
		animation: noise 200ms infinite linear;
		background-position: 0 0;
		pointer-events: none;
		opacity: 0.6;
		z-index: 2;
	}
}

#animation{
	position: fixed;
	top: -134vw;
	left: 50%;
	transform: translate(-50%, -50vw);
	z-index: 1;
	transition-property: top;
	transition-duration: 2s;
	&.disactive {
		top: 50vh;
		left: 50%;
		transform: translate(-50%, -50%);
		#gameboy{
			width: 50vw;
			max-height: 80vh;
		}
	}
}

#gameboy{
	position: relative;
	display: block;
	width: 800vw;
	max-height: 4000vh;
	transition-property: width;
	transition-duration: 2s;
	fill: none !important;
}

.App {
	text-align: center;
	filter: contrast(1.2);
	image-rendering: initial;
	image-rendering: -moz-crisp-edges;
	-ms-interpolation-mode: nearest-neighbor;
	position: relative;
	overflow: hidden;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	&__header {
		position: relative;
		height: 100px;
		width: 100%;
		font-size: 5em;
		text-shadow: 2px 2px 10px $link-color;
		color: $info-color;
		font-family: 'Permanent Marker', cursive;
		margin-bottom: 10px;
	}
	&__wrapper {
		display: flex;
		flex-flow: row wrap;
		align-content: flex-start;
		align-items: flex-start;
		align-content: stretch;
		justify-content: space-between;
		font-size: $small-font;
		width: 90vw;
		max-width: 1100px;
		margin: 0 auto;
	}
	&__wrapper-cell{
		display: flex;
		width: 49%;
		flex-flow: column wrap;
		justify-content: space-around;

	}
	&__wrapper-row{
		width: 100%;
	}
	&__footer{
		text-align: center;
		margin: 10px 0; 
	}
}

#gameboy_screen{
	fill: none;
	stroke: none !important;
	&.active{
		fill: $main-color;
	}
}
.container{
	width: 100%;
	//background: $main-color;
	margin: 0 0 10px;
	padding: 10px 30px;
	border: 2px dashed $info-color;
	flex: 0 1 calc(50% - 10px);
	&__header{
		margin: 0 0 20px;
		padding: 0;
		text-align: center;
		font-size: calc(10px + 2vmin);
	}
	&__text {
		text-indent: 1.5em;
		text-align: justify;
		margin: 0;
	}
	&__sub-header{
		margin: 0 0 20px;
	}
}

.contact-list{
	list-style-type: none;
	display: flex;
	justify-content: space-around;
	flex-flow: row wrap;
	padding: 0;
	&__item{
		display: block;
	}
	&__link{
		font-size: 0;
		width: 50px;
		height: 50px;
		display: block;
		stroke-width: 5px;
		transition: transform 200ms;
		&:hover{
			transform: scale(1.2);
		}
		&>svg{
			fill:none;
			stroke:$link-color;
			stroke-miterlimit:10;
		}
	}
}

.discography{
	&__list{
		padding: 0;
		margin: 0;
		display: flex;
		flex-flow: row wrap;
		justify-content: space-around;
		list-style-type: none;
		width: 100%;
		position: relative;
		margin-bottom: 20px;
		perspective: 100vw;
		perspective-origin:50% 0;
	}
	&__item{
		display: flex;
		margin: 0;
		padding: 0;
		background: $main-color;
		width: 14%;
		transition: all 200ms;
		z-index: 1;
		transform: matrix3d(0.4, 0, -0.5, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1);
		transform-style: flat;
		overflow: hidden;
		position: relative;
		& + & {
			margin-left: -15%;
			//margin-top: -92%;
		}
		&_active,
		&:hover{
			border-radius: 0;
			z-index: 2;
			transform: matrix3d( 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
			.discography__anotation{
				background: rgba(0,0,0,0.5);
				opacity: 1;
			}
			.discography__coverLink > img{
				filter: grayscale(0);
			}
		}
	}
	&__anotation{
		position: relative;
		width: 100%;
		padding-top: 100%;
		z-index: 2;
		display: block;
		overflow: hidden;
		opacity: 0;
		transition: all 500ms;
		cursor: pointer;
	}
	&__anotation-test{
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		color: $info-color;
		font-size: 14px;
		width: 100%;
		margin: 0;
		text-shadow: 2px 2px 2px $main-color;
	}
	&__coverLink{
		width: 100%;
		position: relative;
		z-index: 1;
		cursor: pointer;
		& > img{
			display: block;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			filter: grayscale(1);
			transition: all 200ms;
		}
	}
	&__wrapper{
		display: none;
		width: 0%;
		text-align: left;
	}
	&__title{
		margin: 0 0 10px 0;
		padding-left: 40px;
	}
	&__info{
		
	}
	&__secondary-list{
		list-style-type: decimal-leading-zero;
	}
	&__secondary-item{

	}
}

// @for $i from 1 through 30 {
// 	.discography__item:nth-of-type(#{$i}) {
// 		z-index: #{30 - $i};
// 		&:hover,&.discography__item_active{
// 			z-index: 31;
// 		}
// 	}
// }

@keyframes noise {
	0% {
		background-position: 0px 1000px;
	}
	50% {
		background-position: -1000px;
	}
	100% {
		background-position: 100px 0px;
	}
}

@media screen and (max-width: 840px) {
	.container {
		width: 90vw;
	}
	.App__wrapper-cell{
		display: flex;
		width: 100%;
		flex-flow: column wrap;
		justify-content: space-around;
	}
}