footer.sticky-footer
	<!--Third Octave-->
	.white-note
		a.note.3c 
			p(style="display: none;") 3c
	.black-note
		a.note.3cc 
			p(style="display: none;") 3c$
	.white-note
		a.note.3d 
			p(style="display: none;") 3d
	.black-note
		a.note.3dd
			p(style="display: none;") 3d$
	.white-note
		a.note.3e
			p(style="display: none;") 3e
	.white-note
		a.note.3f
			p(style="display: none;") 3f
	.black-note
		a.note.3ff
			p(style="display: none;") 3f$
	.white-note
		a.note.3g
			p(style="display: none;") 3g
	.black-note
		a.note.3gg
			p(style="display: none;") 3g$
	.white-note
		a.note.3a
			p(style="display: none;") 3a
	.black-note
		a.note.3aa
			p(style="display: none;") 3a$
	.white-note
		a.note.3b
			p(style="display: none;") 3b
	<!--Fourth Octave-->
	.white-note
		a.note.4c
			p(style="display: none;") 4c
	.black-note
		a.note.4cc
			p(style="display: none;") 4c$
	.white-note
		a.note.4d
			p(style="display: none;") 4d
	.black-note
		a.note.4dd
			p(style="display: none;") 4d$
	.white-note
		a.note.4e
			p(style="display: none;") 4e
	.white-note
		a.note.4f
			p(style="display: none;") 4f
	.black-note
		a.note.4ff
			p(style="display: none;") 4f$
	.white-note
		a.note.4g
			p(style="display: none;") 4g
	.black-note
		a.note.4gg
			p(style="display: none;") 4g$
	.white-note
		a.note.4a
			p(style="display: none;") 4a
	.black-note2e
		a.note.4aa
			p(style="display: none;") 4a$
	.white-note
		a.note.4b
			p(style="display: none;") 4b
	<!--Fifth Octave-->
	.white-note
		a.note.5c
			p(style="display: none;") 5c
	.black-note
		a.note.5cc
			p(style="display: none;") 5c$
	.white-note
		a.note.5d
			p(style="display: none;") 5d
	.black-note
		a.note.5dd
			p(style="display: none;") 5d$
	.white-note
		a.note.5e
			p(style="display: none;") 5e
	.white-note
		a.note.5f
			p(style="display: none;") 5f
	.black-note
		a.note.5ff
			p(style="display: none;") 5f$
	.white-note
		a.note.5g
			p(style="display: none;") 5g
	.black-note
		a.note.5gg
			p(style="display: none;") 5g$