footer.sticky-footer
	<!--Third Octave-->
	.white-note
		a.note.3c 
			p 3c
	.black-note
		a.note.3cc 
			p 3c$
	.white-note
		a.note.3d 
			p 3d
	.black-note
		a.note.3dd
			p 3d$
	.white-note
		a.note.3e
			p 3e
	.white-note
		a.note.3f
			p 3f
	.black-note
		a.note.3ff
			p 3f$
	.white-note
		a.note.3g
			p 3g
	.black-note
		a.note.3gg
			p 3g$
	.white-note
		a.note.3a
			p 3a
	.black-note
		a.note.3aa
			p 3a$
	.white-note
		a.note.3b
			p 3b
	<!--Fourth Octave-->
	.white-note
		a.note.4c
			p 4c
	.black-note
		a.note.4cc
			p 4c$
	.white-note
		a.note.4d
			p 4d
	.black-note
		a.note.4dd
			p 4d$
	.white-note
		a.note.4e
			p 4e
	.white-note
		a.note.4f
			p 4f
	.black-note
		a.note.4ff
			p 4f$
	.white-note
		a.note.4g
			p 4g
	.black-note
		a.note.4gg
			p 4g$
	.white-note
		a.note.4a
			p 4a
	.black-note2e
		a.note.4aa
			p 4a$
	.white-note
		a.note.4b
			p 4b
	<!--Fifth Octave-->
	.white-note
		a.note.5c
			p 5c
	.black-note
		a.note.5cc
			p 5c$
	.white-note
		a.note.5d
			p 5d
	.black-note
		a.note.5dd
			p 5d$
	.white-note
		a.note.5e
			p 5e
	.white-note
		a.note.5f
			p 5f
	.black-note
		a.note.5ff
			p 5f$
	.white-note
		a.note.5g
			p 5g
	.black-note
		a.note.5gg
			p 5g$
include loadmusic