block partners
	aside.partners
		.wrapper
			a(href="#", target="_blank").icon
				span.icon.icon-zenit
				span.icon.icon-zenit-active
			a(href="#", target="_blank").icon
				span.icon.icon-kassir
				span.icon.icon-kassir-active
			a(href="#", target="_blank").icon
				span.icon.icon-ska
				span.icon.icon-ska-active
			a(href="#", target="_blank").icon
				span.icon.icon-samsung
				span.icon.icon-samsung-active
			a(href="#", target="_blank").icon
				span.icon.icon-tricolor
				span.icon.icon-tricolor-active
			a(href="#", target="_blank").icon
				span.icon.icon-vk
				span.icon.icon-vk-active